*.pyc
__pycache__
*.egg-info
py
build
dist
eggs
develop-eggs
bin
.installed.cfg
.idea
*.so
target
*.o
*.dll
*.pyd
*.def
bower_components
packages
pubspec.lock
node_modules
*.ts.js
*.scss.css
*.ts.d.ts
.sass-cache
public/libs
.DS_Store
cache/*
example/*.js
example/*.d.ts
example/*.js.map
bin/*.js
bin/*.d.ts
bin/*.js.map
tscommand.tmp.txt
